<div class="containter p-5">
  <div class="background white" style="border: solid 1px black; height: 800px; width: 100%;">
    <div class="row d-flex justify-content-center">
      <%= image_tag "resultpdf.jpg", :class => "img-fluid" %>
    </div>
  </div>
</div>
