<!--   <div>
    <%= image_tag "resultpdf.jpg" %>
    <h2>VISU DU CERFA</h2>
  </div> -->
<div class="jumbotron text-center">
  <h1>Visulation en jpeg du CERFA</h1>
</div>

<div class="container pt-3 bg-dark text-white">
  <div class="row">
    <div class="col-sm-4 align-content-center">
      <%= image_tag "resultpdf.jpg" %>
    </div>
  </div>
</div>
